p {
    font-size: 20px;
    font-weight: bold;
    em {
        background: yellow;
        padding: 5px;
        
    }
}

// Hexagon Map

@lightes-gray: #EAEAEA;
@hover-gray: #C8C8C8;

.hxg.container {
    width: 100%;
    height: 100%;
}

.hxg.topnav {

    > ul {
        
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: @lightes-gray;

        li {
            list-style-type: none;
            line-height: 40px;
            padding: 0 10px;

            &:hover {
                background-color: @hover-gray;
            }
        }
    }
}